AUTH_TRUST_HOST="true"
DATABASE_URL="drizzle.db"
NEXT_PUBLIC_BASE_PORT="3002"
NEXT_PUBLIC_BASE_PATH="/cluster-1/project-2"
AUTH_URL="http://localhost:3002/cluster-1/project-2"
AUTH_GOOGLE_SECRET=""
AUTH_SECRET=""
AUTH_GOOGLE_ID=""
NEXT_PUBLIC_CONNECT_PEERS="http://localhost:3000,http://localhost:3001,http://localhost:3002,http://localhost:3003,http://localhost:3004"