AUTH_TRUST_HOST="true"
NEXT_PUBLIC_BASE_PORT="4001"
DATABASE_URL="cluster-1-project-1.db"
NEXT_PUBLIC_BASE_PATH="/cluster-1/project-1"
AUTH_URL="http://localhost:4001/cluster-1/project-1"
AUTH_GOOGLE_SECRET=""
AUTH_SECRET=""
AUTH_GOOGLE_ID=""
NEXT_PUBLIC_CONNECT_PEERS="http://localhost:3000,http://localhost:4001,http://localhost:4002,http://localhost:5001,http://localhost:5002"